.en-nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 12px 24px;
}

.en-tab-bar {
  padding: 24px;

  .tab-bar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .tab-menu-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      align-items: center;

      &.active {
        color: blue;
      }

      .tab-menu-title {
        font-size: 18px;
      }
    }
  }
}
